Repository OmenApps/django-postgresql-dag: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, bandit

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        types: [python]
        exclude: ^tests/

      - id: bandit
        name: bandit
        entry: bandit -c bandit.yml -r src/
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args: [--py311-plus]

Add new helper method to get the actual node instance
  src/django_postgresql_dag/query_builders.py
Due: ruff, bandit

Move get_foreign_key_field into Node, where it's used
  src/django_postgresql_dag/models.py
  src/django_postgresql_dag/query_builders.py
  src/django_postgresql_dag/utils.py
Due: ruff, bandit

Update to set graph depth from settings, if provided
  src/django_postgresql_dag/query_builders.py
Due: ruff, bandit

Correct sql handling
  src/django_postgresql_dag/query_builders.py
Due: ruff, bandit

Need the attribute name, not just `name`
  src/django_postgresql_dag/models.py
Due: ruff, bandit

Simplify approach to getting edges queryset
  src/django_postgresql_dag/utils.py
Due: ruff, bandit

Make M2M relationship handling more robust
  src/django_postgresql_dag/utils.py
Due: ruff, bandit

Clean up dead code and lint
  src/django_postgresql_dag/exceptions.py
  src/django_postgresql_dag/models.py
  src/django_postgresql_dag/transformations.py
  src/django_postgresql_dag/urls.py
  src/django_postgresql_dag/utils.py
Due: ruff, bandit

Add exports
  src/django_postgresql_dag/transformations.py
Due: ruff, bandit

Add missing note about max depth change
  README.md
Due: none

Fix improper escaping in string
  docs/methods.rst
Due: none

Fix the test dir duplicates and weird structure
  tests/apps.py
  tests/migrations/0001_initial.py
  tests/migrations/0002_auto_20201101_1652.py
  tests/testapp/__init__.py
  tests/testapp/admin.py
  tests/testapp/asgi.py
  tests/testapp/migrations/0001_initial.py
  tests/testapp/migrations/0002_networkedge_networknode_networkedge_child_and_more.py
  tests/testapp/migrations/0003_fieldtestmodel.py
  tests/testapp/migrations/__init__.py
  tests/testapp/models.py
  tests/testapp/urls.py
  tests/testapp/wsgi.py
Due: bandit

Add bare conftest and migrations.py for CI use
  tests/conftest.py
  tests/manage.py
Due: bandit

Improve existing tests to remove multiprocessing, add checks for slow runs, and clean up logging
  tests/test_all.py
Due: bandit

Add index for our docs
  docs/index.md
Due: none

Standardize docstring format across the package.
  src/django_postgresql_dag/exceptions.py
  src/django_postgresql_dag/models.py
  src/django_postgresql_dag/query_builders.py
  src/django_postgresql_dag/transformations.py
  src/django_postgresql_dag/utils.py
  tests/testapp/asgi.py
  tests/testapp/models.py
  tests/testapp/wsgi.py
Due: ruff, bandit

Minor linting cleanup
  src/django_postgresql_dag/query_builders.py
  src/django_postgresql_dag/urls.py
  tests/manage.py
  tests/testapp/admin.py
  tests/testapp/migrations/0002_networkedge_networknode_networkedge_child_and_more.py
  tests/testapp/migrations/0003_fieldtestmodel.py
  tests/testapp/models.py
  tests/testapp/urls.py
Due: ruff, bandit

Revise to fix n+1 issues, sort topologically, and finally implement stubbed methods.
  src/django_postgresql_dag/models.py
Due: ruff, bandit

Convert docs to use furo and markdown, like other omenapps packages
  .readthedocs.yml
  README.md
  docs/conf.py
  docs/index.md
  docs/index.rst
  docs/methods.md
  docs/quickstart.md
  docs/quickstart.rst
  docs/requirements.txt
  docs/transformations.md
  noxfile.py
Due: ruff, bandit

Add manager-level method returning a set of QuerySets of each disconnected subgraph
  src/django_postgresql_dag/models.py
Due: ruff, bandit

Add manager-level method to return a slew of basic stats about the graph
  src/django_postgresql_dag/models.py
Due: ruff, bandit

Make it easier to resolve edge type for filtering edges (making use of `limiting_edges_set_fk`)
  src/django_postgresql_dag/models.py
Due: ruff, bandit

Update with recent changes
  docs/methods.md
Due: none

Make import of NetworkX safer
  src/django_postgresql_dag/transformations.py
Due: ruff, bandit

Remove overlooked double-import
  src/django_postgresql_dag/transformations.py
Due: ruff, bandit

Implement an alteration on nx_from_queryset for exporting to RustworkX
  pyproject.toml
  src/django_postgresql_dag/transformations.py
Due: ruff, bandit

Add simple helper to use the new `rx_from_queryset` to export JSON with RustworkX's conversion tooling
  src/django_postgresql_dag/transformations.py
Due: ruff, bandit

Implement the long-neglected filtering stubs to allow/disallow groups of edges when querying up or down the DAG
  docs/methods.md
  src/django_postgresql_dag/query_builders.py
Due: ruff, bandit

Add signals to aid in cache invalidation, audit logging, notifications on topology changes, etc
  src/django_postgresql_dag/models.py
  src/django_postgresql_dag/signals.py
Due: ruff, bandit

Implement a combined context manager & decorator for on-demand logging/printing of the generated SQL
  src/django_postgresql_dag/debug.py
  src/django_postgresql_dag/models.py
  src/django_postgresql_dag/query_builders.py
Due: ruff, bandit

Make sure we export `log_queries` from the debug module
  src/django_postgresql_dag/__init__.py
Due: ruff, bandit

Consolidate dependencies and remove unneeded psycopg
  pyproject.toml
  src/django_postgresql_dag/transformations.py
Due: ruff, bandit

Update docs to reflect all of the recent changes
  .readthedocs.yml
  CONTRIBUTING.md
  README.md
  docs/contributing.md
  docs/debug.md
  docs/index.md
  docs/transformations.md
Due: none

Update django-to-python supported versions
  .github/workflows/django.yml
  manage.py
  noxfile.py
  pyproject.toml
  uv.lock
Due: ruff, bandit

Correct license entry
  pyproject.toml
Due: none

Fix mention of extras installation
  src/django_postgresql_dag/transformations.py
Due: ruff, bandit

Correct usage of uv for contributors
  .github/workflows/django.yml
  CONTRIBUTING.md
Due: none

Fix issue with non-deterministic SQL (we had a LIMIT without ORDER BY)
  src/django_postgresql_dag/query_builders.py
Due: ruff, bandit

Update dependencies
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

Add flag to avoid bandit warning us about SQL
  src/django_postgresql_dag/models.py
  src/django_postgresql_dag/query_builders.py
Due: ruff, bandit
