Repository OmenApps/django-postgresql-dag: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, bandit

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        types: [python]
        exclude: ^tests/

      - id: bandit
        name: bandit
        entry: bandit -c bandit.yml -r src/
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args: [--py311-plus]

Better describe the exceptions
  src/django_postgresql_dag/exceptions.py
Due: ruff, bandit

Use list to ensure uuid will be processed correctly in queries
  src/django_postgresql_dag/query_builders.py
Due: ruff, bandit

Minor misspelling
  src/django_postgresql_dag/query_builders.py
Due: ruff, bandit

Prevent tree methods producing duplicates with multi-edges
  src/django_postgresql_dag/models.py
Due: ruff, bandit

Prevent path_raw redundant query evaluation and ensure transaction atomicity and guards against AttributeError on insert_node
  src/django_postgresql_dag/models.py
Due: ruff, bandit

Ensure necessary deps are installed for testing
  noxfile.py
Due: ruff, bandit

Capture coverage correctly
  pyproject.toml
Due: none

Increase and break out tests into smaller files, reorganized by category
  tests/helpers.py
  tests/test_all.py
  tests/test_connected_graph.py
  tests/test_managers_and_predicates.py
  tests/test_mutations.py
  tests/test_paths.py
  tests/test_query_filtering.py
  tests/test_query_logging.py
  tests/test_signals.py
  tests/test_transformations.py
  tests/test_traversal.py
Due: bandit

Run ruff again to clean up remaining format issues
  src/django_postgresql_dag/models.py
  src/django_postgresql_dag/query_builders.py
  tests/test_managers_and_predicates.py
  tests/test_paths.py
Due: ruff, bandit

Remove commented dead code
  src/django_postgresql_dag/query_builders.py
Due: ruff, bandit

Check that a nullable dt doesn't impact exports to dict
  tests/test_transformations.py
  tests/testapp/migrations/0004_fieldtestmodel_nullable_dt.py
  tests/testapp/models.py
Due: bandit

Implement pyright, and apply corrections to meet its checks
  pyproject.toml
  src/django_postgresql_dag/debug.py
  src/django_postgresql_dag/models.py
  src/django_postgresql_dag/query_builders.py
  src/django_postgresql_dag/transformations.py
  src/django_postgresql_dag/utils.py
  tests/test_transformations.py
Due: ruff, bandit

Add a weight field in example app edge model for upcoming algorithm testing
  tests/testapp/migrations/0004_fieldtestmodel_nullable_dt.py
  tests/testapp/migrations/0005_add_weight_to_networkedge.py
  tests/testapp/models.py
Due: bandit

Implement NetworkX's graph and subgraph hashing as built-in tools for hashing django-based DAGs
  src/django_postgresql_dag/transformations.py
Due: ruff, bandit

Reorganize docs using the concepts from Diataxis
  docs/configuration.md
  docs/debug.md
  docs/edge-reference.md
  docs/filtering.md
  docs/index.md
  docs/methods.md
  docs/node-reference.md
  docs/paths-and-algorithms.md
  docs/quickstart.md
  docs/transformations.md
  docs/tutorial.md
  docs/understanding-dags.md
Due: none

Add tests for each of the new algorigthms
  tests/test_all_paths.py
  tests/test_critical_path.py
  tests/test_depth_annotation.py
  tests/test_graph_hashing.py
  tests/test_lca.py
  tests/test_topological_sort.py
  tests/test_transitive_reduction.py
  tests/test_weighted_path.py
Due: bandit

Update a few more documentation notes
  CHANGELOG.md
  README.md
Due: none

Bump version
  pyproject.toml
  uv.lock
Due: none

Minor cleanup in docs
  docs/configuration.md
  docs/debug.md
  docs/edge-reference.md
  docs/filtering.md
  docs/node-reference.md
  docs/paths-and-algorithms.md
  docs/transformations.md
  docs/tutorial.md
  docs/understanding-dags.md
Due: none

Assert statements will get stripped out by Python's -O flag, so replace with
  src/django_postgresql_dag/query_builders.py
Due: ruff, bandit

Resolve issue where is_descendant_of raised unhandled NodeNotReachableException for disconnected nodes
  src/django_postgresql_dag/models.py
Due: ruff, bandit

Fix issue where model_to_dict crashed on FileField/ImageField with actual files
  src/django_postgresql_dag/utils.py
Due: ruff, bandit

Forgot to pass include_initial_labels parameter
  src/django_postgresql_dag/transformations.py
Due: ruff, bandit

Prevent pyright reporting these imports even if they are already handled
  src/django_postgresql_dag/transformations.py
Due: ruff, bandit

Fix problem where path() crashed with AttributeError when self == ending_node
  src/django_postgresql_dag/models.py
Due: ruff, bandit

Fix matching from `is` to `==`
  src/django_postgresql_dag/models.py
Due: ruff, bandit

Fix issue where remove_child() and remove_parent() silently removed ALL edges when specified node wasn't found
  src/django_postgresql_dag/models.py
Due: ruff, bandit

Fix use of wrong table alias and issue where path query _limit_to_edges_set_fk only applied to recursive step (but missing anchor part)
  src/django_postgresql_dag/query_builders.py
Due: ruff, bandit

Fixed to use path() with proper assertRaises context manager
  tests/test_paths.py
Due: bandit

Simplify and expand coverage for different fk types
  src/django_postgresql_dag/models.py
  src/django_postgresql_dag/query_builders.py
Due: ruff, bandit

Fix issue where descendants_and_self didn't mirror ancestors_and_self
  src/django_postgresql_dag/models.py
Due: ruff, bandit

Implement stubbed depth query filters for AncestorDepthQuery and DescendantDepthQuery
  src/django_postgresql_dag/query_builders.py
Due: ruff, bandit

Rewrite ConnectedGraphQuery with filters and max_depth
  src/django_postgresql_dag/query_builders.py
Due: ruff, bandit

Split duplicate_edge_checker into duplicate + redundant (transitive) checks
  src/django_postgresql_dag/models.py
Due: ruff, bandit

Remove dead code
  src/django_postgresql_dag/query_builders.py
Due: ruff, bandit

Update to reflect recent fixes and add mermaid diagrams to visually explain concepts
  CONTRIBUTING.md
  docs/configuration.md
  docs/debug.md
  docs/edge-reference.md
  docs/filtering.md
  docs/node-reference.md
  docs/paths-and-algorithms.md
  docs/quickstart.md
Due: none

Minor re-order to reflect more logical flow of complexity
  docs/index.md
Due: none

Convert/add a few more mermaid graphs
  docs/quickstart.md
  docs/tutorial.md
  docs/understanding-dags.md
Due: none

Update tests to reflect recent fixes
  tests/test_all_paths.py
  tests/test_connected_graph.py
  tests/test_depth_annotation.py
  tests/test_mutations.py
  tests/test_query_filtering.py
  tests/test_query_logging.py
  tests/test_signals.py
  tests/test_transformations.py
  tests/test_traversal.py
  tests/test_weighted_path.py
Due: bandit
